@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

body {
    background-color: #DFD9E2;
}

H1{
    font-size: 50px;
    color: #865B9A;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

H2{
    letter-spacing: 10px;
    font-size: 50px;
    color: #865B9A;
    font-weight: normal;
    text-align: center;
}

#introduction{
    font-size: 30px;
    color: #535865;
    font-weight: bold;
}

p2{
    font-size: 30px;
    color: #535865;
}

ul{
    font-size: 30px;
    color: #535865;
}

H3{
    font-size: 35px;
    color: #865B9A;
}

p3{
    font-size: 30px;
    color: #535865;
}

H4{
    font-size: 35px;
    color: #865B9A;
}

p4{
    font-size: 30px;
    color: #535865;
}

button{
    background-color: #865B9A;
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
